 body {
     background: #f1e2e2;
     display: flex;
     justify-content: center;
     padding: 30px;
     margin: 0px;
 }

 .container {
     background: white;
     border-radius: 15px;
     max-width: fit-content;
 }

 .title {
     padding: 35px;
 }

 .button1 {
     background-color: #f2f0f0;
     padding: 5px;
     border-radius: 30px;
     width: fit-content;
 }

 .button1 button {
     padding: 8px 25px;
     border-radius: 30px;
     border: none;
 }

 .oneplayer {
     color: #a2a2a5;
     background-color: #f2f0f0;
 }

 .siblings {
     color: #e7779a;
     background-color: white;
 }

 .button2 button {
     padding: 8px 30px;
 }

 .player1 {
     background-color: #e7779a;
     color: white;
     border-radius: 30px;
     border: 1.5px solid #E7779A;
 }

 .player2 {
     border: 1.5px solid #e1dede;
     color: #a2a2a5;
     border-radius: 30px;
 }

 .form-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     padding: 20px 0px;
 }

 .form {
     padding: 8px 20px;
     border: 1.5px solid #eaeaec;
     border-radius: 30px;
     font-size: 12px;
     font-weight: 200;
     color: #a2a2a5;
 }

 .form input {
     width: 100%;
     font-size: 14px;
     border: none;
 }

 .full-form {
     grid-column: span 2;
 }

 .bottom {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #f0d4dd;
     padding: 20px 30px;
     border-radius: 15px;
 }

 .bottom h1 {
     font-size: 25px;
 }

 .bottom h2 {
     font-size: 14px;
     font-weight: 100;
     color: #67676a;
 }

 .bottom p {
     font-size: 12px;
     color: #8a8a8e;
 }

 .bottom button {
     padding: 15px 50px;
     border: none;
     border-radius: 30px;
     background-color: #eaa9bd;
     color: white;
 }

 .rightside button:hover {
     background-color: #e7779a;
 }