.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px;
    gap: 10%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text img {
    display: none;
}

.text h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 80%;
}

.text p {
    font-size: 18px;
    color: #191A23;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 75%;
    font-weight: 100;
}

.loudspeaker {
    display: flex;
    justify-content: center;
    width: 50%;
}

.loudspeaker img {
    width: auto;
}

.book-button button {
    background-color: #191A23;
    color: white;
    font-family: 'space grotesk', sans-serif;
    font-weight: 200;
    border: none;
    border-radius: 7px;
    padding: 14px 30px;
}

.brandlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brandlogo img {
    width: 10%;
}

@media (max-width: 1320px) {
    .title {
        padding: 60px 10px;
    }
}