.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 70px;
    gap: 10%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 50%;
}

.text p {
    font-size: 18px;
    color: #191A23;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 75%;
    font-weight: 100;
}

.smallscreen img {
    display: none;
}

.loudspeaker {
    display: flex;
    justify-content: center;
}

.loudspeaker img {
    width: 500px;
}

.book-button button {
    background-color: #191A23;
    color: white;
    font-family: 'space grotesk', sans-serif;
    font-weight: 200;
    border: none;
    border-radius: 7px;
    padding: 14px 30px;
}

.brandlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 70px;
}

.brandlogo img {
    width: 60%;
}

@media (max-width: 1350px) {
    .title {
        margin: 30px 70px;
    }

    .text {
        width: 50%;
    }

    .text h1 {
        font-size: 35px;
        width: 80%;
    }

    .text p {
        font-size: 16px;
        width: 80%;
    }

    .loudspeaker {
        width: 400px;
    }

    .loudspeaker img {
        width: 80%;
    }

    .brandlogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 70px;
    }

    .brandlogo img {
        width: 50%;
    }

    .book-button button {
        padding: 10px 25px;
        font-size: 14px;
    }
}

@media (max-width: 1250px) {
    .positivus img {
        width: 70%;
    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 14px;
    }

    .loudspeaker img {
        width: 300px;
    }

    .brandlogo img {
        width: 60%;
    }

    .book-button button {
        padding: 10px 25px;
        font-size: 14px;
    }
}

@media (max-width: 770px) {

    .boss,
    .title,
    .brandlogo,
    .text,
    .book-button,
    .smallscreen {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .loudspeaker img {
        display: none;
    }

    .smallscreen img {
        display: block;
        width: 100%;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .text h1 {
        font-size: 50px;
        width: auto;
    }

    .text p {
        width: auto;
        font-size: large;
    }

    .book-button {
        width: 100%;
    }

    .book-button button {
        width: 100%;
        padding: 18px 30px;
        font-size: medium;
    }

    .brandlogo {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .brandlogo div {
        flex: 1 1 30%;
    }

    .brandlogo .amazon,
    .brandlogo .dribbble,
    .brandlogo .hubspot {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }

    .brandlogo .notion,
    .brandlogo .netflix,
    .brandlogo .zoom {
        display: flex;
        justify-content: flex-start;
    }

}