body {
    background-color: white;
    font-family: 'space grotesk', sans-serif;
}

.boss {
    padding: 0 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.positivus img {
    width: 80%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right-nav {
    display: flex;
    font-size: 18px;
    gap: 30px;
    align-items: center;
}

.right-nav a {
    text-decoration: none;
    color: #191A23;
}

.active a:hover {
    background-color: #B9FF66;
    border-radius: 5px;
}

.right-nav button {
    background-color: transparent;
    color: #191A23;
    border: 1px solid #191A23;
    border-radius: 5px;
    padding: 14px 25px;
    font-family: 'space grotesk', sans-serif;
    font-size: 18px;
}

.hamburger2 img {
    display: none;
}

.submenu {
    display: none;
    position: absolute;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: rgb(238, 238, 238);
}


.submenu a {
    display: block;
    padding: 3px 0;
    font-size: 15px;
}

.active:hover .submenu {
    display: block;
}

@media (max-width: 1350px) {
    .hamburger2 img {
        display: block;
    }

    .right-nav a {
        display: none;
    }

    .right-nav button {
        display: none;
    }
}

@media(max-width:770px) {
    .hamburger2 img {
        width: 80%;
    }

    .positivus img {
        width: 70%;
    }
}