.boss {
    width: 100%;
    margin: 30px;
}

.container01 {
    border: 1px solid rgb(220, 220, 220);
    width: 300px;
    border-radius: 20px;
    padding: 25px;
    position: relative;
}

.bali img {
    width: 100%;
    border-radius: 20px;
}

.content p {
    font-size: 15px;
    color: #726c6c;
}

.icon {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.icon img {
    width: 20px;
}

.going {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #726c6c;
    font-size: 15px;
    align-items: center;
    margin-top: 15px;
}

.going-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.going-left img {
    width: 20px;
}

.going-right img {
    width: 20px;
}

.small-card {
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    background-color: white;
    width: 60%;
    position: absolute;
    right: -80px;
    bottom: 55px;
    padding: 15px 15px;
}

.top {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text h4 {
    font-size: small;
    font-weight: 100;
    color: #726c6c;
    margin: 0;
}

.text p {
    font-size: large;
    font-weight: bold;
    margin: 7px 0px;
}

.small-card img {
    width: 30%;
    border-radius: 50%;
}

.progress {
    font-size: medium;
    margin-top: 15px;
}

.progress p {
    margin: 2px;
}

.completed {
    border: 1px solid #c1bebe;
    height: 5px;
    border-radius: 5px;
    background-color: #e5e1e1;
}

.completedfill {
    width: 60%;
    height: 100%;
    background-color: #34bc39;
    border-radius: 5px;
}