.boss {
    display: flex;
}

.title {
    text-align: center;
}

.title p {
    max-width: 800px;
    margin: auto;
}


.song {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
}

.song img {
    width: 80%;
    border-radius: 15px;
}

.relative {
    position: relative;
    top: -40px;
    height: 200px;
    background-color: rgb(218, 215, 215);
    width: 65%;
    text-align: center;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.relative h1 {
    font-size: large;
}

.relative p {
    margin: 0;
}

.relative a {
    margin-top: auto;
    padding-bottom: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(96, 38, 150);
}

@media(max-width:1350px) {
    .relative {
        width: 65%;
        height: 240px;
        font-size: medium;
    }
}

@media(max-width:1150px) {
    .relative {
        width: 65%;
        height: 280px;
        font-size: medium;
    }
}


@media(max-width:790px) {
    .boss {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .song img {
        width: 80%;
    }

    .relative {
        width: 75%;
        height: 180px;
    }
}

@media(max-width:590px) {
    .boss {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .song img {
        width: 80%;
    }

    .relative {
        width: 70%;
        height: 220px;
    }
}