.boss {
    width: 100%;
    margin: 30px;
}

.container01 {
    border: 1px solid rgb(220, 220, 220);
    width: 300px;
    border-radius: 20px;
    padding: 25px;
}

.bali img {
    width: 100%;
    border-radius: 20px;
}