/* 字体 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* --- 颜色 --- */
:root {
    --primary-red: #B30E16;
    --dark: #251E1E;
    --light: #F8F6F6;

}


/* --- 字体的size --- */
h1 {
    font-size: 52px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 35px;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-weight: 400;
}

.desc {
    font-size: 20px;
}

.artist-name {
    font-size: 52px;
    font-style: italic;
    font-weight: bold;
}

/* --- 电话的size--- */
@media (max-width: 768px) {
    h1 {
        font-size: 43px;
        font-weight: 900;
    }

    h2 {
        font-size: 36px;
        font-weight: 700;
    }

    h3 {
        font-size: 25px;
        font-weight: 500;
    }

    p {
        font-size: 16px;
    }
}

/* --- 按钮 --- */

.btn {
    padding: 14px 32px;
    border-radius: 20px;
    height: 60px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.btn-dark {
    background: var(--dark);
    color: var(--light);
}


.btn-dark:hover {
    background: var(--primary-red);
    color: var(--light);
}


.btn-light {
    background: var(--light);
    color: var(--dark);
}


.btn-light:hover {
    background: var(--primary-red);
    color: var(--light);
}


.bg-red .btn-light:hover {
    background: var(--dark);
    color: var(--light);
}








/* header and footer */
body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

body a {
    text-decoration: none;
    color: #251E1E;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #f5f6f6;
    padding: 15px 30px;
    position: relative;
    z-index: 2001;

}

.header-middle {
    display: flex;
    gap: 100px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 50px;
    width: 100%;
}

.menu .about,
.menu .services,
.artist,
.blog,
.store,
.contact {
    gap: 2px;
    display: flex;
    position: relative;
}

.logo {
    width: 200px;
}

.submenu {
    background-color: #251E1E;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border-radius: 16px;
    padding: 10px;
}

.submenu a {
    display: block;
    padding: 5px;
    color: #f5f6f6;
}

.services:hover .submenu,
.about:hover .submenu,
.artist:hover .submenu,
.blog:hover .submenu,
.store:hover .submenu {
    display: block;
}

.submenu:hover {
    display: block;
}

.submenu a:hover {
    background-color: #f5f6f6;
    display: block;
    border-radius: 20px;
    color: #251e1e;
}

.contact-us a {
    text-decoration: none;
    background-color: #251E1E;
    border-radius: 20px;
    padding: 10px 25px;
    color: #f5f6f6;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

.footer {
    padding: 15px 30px;
    background-color: #f5f6f6;

}

.footer-left {
    width: 30%;
}

.footer-right {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.address {
    display: flex;
    align-items: center;
    gap: 10px;
}

.address img {
    height: 100%;
}

.address p {
    margin: 0px;
    padding: 22px 0px;
}

.footer-middle {
    display: flex;
    gap: 70px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-sub {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    gap: 2px;
}

.footer-bottom {
    display: flex;
    justify-content: right;
}

.footer-bottom p {
    margin: 0px;
}

.footer-menu .about,
.footer-menu .services,
.footer-menu .artist,
.footer-menu .blog,
.footer-menu .store,
.footer-menu-bottom .contact {
    flex-direction: column;
}

.footer-menu .about>a,
.footer-menu .services>a,
.footer-menu .artist>a,
.footer-menu .blog>a,
.footer-menu .store>a,
.footer-menu-bottom .contact>a {
    font-weight: bolder;
}

.mobile-footer {
    padding-top: 10px;
    display: none;
    text-align: center;
    background-color: #f5f6f6;
}

.mobile-menu {
    position: relative;
    width: 100%;
}


.mobile-footer-menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.mobile-sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #251E1E;
    padding: 10px 0px;
    z-index: 999;
    margin-top: 0;
}

.mobile-sub a {
    color: #f5f6f6;
}

.mobile-sub a:hover {
    background-color: #f5f6f6;
    display: block;
    color: #251E1E;
    padding: 5px;
    border-radius: 20px;
}


@media screen and (max-width: 1080px) {

    .menu-toggle {
        display: block;
        z-index: 1001;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #f5f6f6;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        z-index: 1001;
        font-size: 20px;
        align-items: center;
    }

    .menu.active {
        display: flex;
    }

    .about,
    .services,
    .artist,
    .blog,
    .store,
    .contact {
        justify-content: center;
        width: 100%;
        position: relative;
    }

    .submenu {
        position: absolute;
        width: 100%;
        top: 25px;
        left: 0px;
        padding: 10px 0px;
        z-index: 1001;
        background-color: #251E1E;
        border-radius: 0px;
    }

    .submenu a:hover {
        background-color: #f5f6f6;
        display: block;
        border-radius: 20px;
    }

    .footer {
        display: none;
    }

    .mobile-footer {
        display: block;
    }

    .mobile-menu:hover .mobile-sub {
        display: flex;
    }
}