 body {
     margin: 0px;
     font-family: "Inter", sans-serif;
     background-color: #46477f;
 }

 body a {
     text-decoration: none;
     color: #251E1E;
 }

 .header {
     display: flex;
     justify-content: space-between;
     position: relative;
     background-color: #ffffff;
     padding: 15px 30px;
 }

 .header-middle {
     display: flex;
     gap: 100px;
     align-items: center;
 }

 .header-middle div {
     width: calc(100/2);
 }

 .menu {
     display: flex;
     gap: 50px;
 }

 .about,
 .services,
 .artist,
 .blog,
 .store,
 .contact {
     gap: 2px;
     display: flex;
 }

 .logo {
     width: 200px;
 }

 .submenu {
     background-color: #B30E16;
     display: none;
     position: absolute;
     top: 25px;
     width: 200px;
     border-radius: 16px;
     padding: 10px;
 }

 .submenu a {
     display: block;
     padding: 5px;
     color: rgb(255, 255, 255);
 }

 .use:hover .submenu,
 .services:hover .submenu,
 .about:hover .submenu,
 .artist:hover .submenu,
 .blog:hover .submenu,
 .store:hover .submenu {
     display: block;
 }

 .submenu:hover {
     display: block;
 }

 .submenu a:hover {
     background-color: #980d14;
     display: block;
     border-radius: 20px;
 }

 .contact-us a {
     text-decoration: none;
     background-color: #251E1E;
     border-radius: 20px;
     padding: 10px 25px;
     color: #f6f6f6;
 }