body {
    background-color: white;
}

.banner {
    width: 100%;
    display: block;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.bannercontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F8F6F6;
    z-index: 1003;
}


.allcontent {
    margin-left: 40px;
    margin-right: 40px;
}

.firstcontent-middle h3 {
    color: #B30E16;
}

.firstcontent-middle h2,
p {
    color: #251E1E;
}

.contentbox-middle {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contentbox-middle div {
    position: relative;

}

.contentbox-middle img {
    width: 100%;
    display: block;
}

.box img {
    display: block;
    width: 100%;
    height: auto;
}

.box h3 {
    position: absolute;
    top: 15px;
    left: 20px;
    padding: 5px 10px;
    color: #F8F6F6;
    z-index: 1006;

}

.box {
    position: relative;
}

.btn {
    bottom: 80px;
    left: 30px;
    background: white;
    border-radius: 12px;
    width: 23%;
    height: auto;
    text-align: center;
}