body {
    background-color: white;
}



.banner {
    width: 100%;
    display: block;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.bannercontent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannercontent {
    color: #F8F6F6;
    z-index: 1003;
}

.allcontent {
    margin-left: 40px;
    margin-right: 40px;
}

.firstcontent-middle h3 {
    color: #B30E16;
}

.firstcontent-middle h2,
p {
    color: #251E1E;
}

.contentbox-middle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.contentbox-middle img {
    width: 100%;
}